<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>안녕하세요! 이다빈입니다. 3D 애니메이션으로 상상력을 현실로 만드는 작업을 하고 있습니다.
          제 포트폴리오를 통해 다양한 작품을 감상해 주시면 감사하겠습니다.
          </p>
      </div>
      <div class="col-lg-4">
        <p>hello! This is Lee Da-bin. I'm working to turn imagination into reality through 3D animation. I would appreciate it if you could view the various works through my portfolio. </p>
      </div>
    </div>
  </div>
</section>
